## Imports

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('step0_results.csv', na_values=['no info', '.'], delimiter=',')

## Modify Table for Calculations

In [6]:
new_columns = ['date']

for i in range(1, 10):
    for j in range(1, 13):
        new_columns.append(str(i)+str(j))

new_columns.append('feedback')
df.columns = new_columns
df.drop(['date', 'feedback'], axis=1, inplace=True)

In [8]:
df.replace('Strongly disagree', 1, inplace=True)
df.replace('Disagree', 2, inplace=True)
df.replace('Neutral', 3, inplace=True)
df.replace('Agree', 4, inplace=True)
df.replace('Strongly Agree', 5, inplace=True)

df.replace('< 5 min', 1, inplace=True)
df.replace('5 - 15 min', 2, inplace=True)
df.replace('15 - 30 min', 3, inplace=True)
df.replace('30 - 60 min', 4, inplace=True)
df.replace('> 60 min', 5, inplace=True)

## Apply positive & negative

In [6]:
# multiplication of values with 1 or -1 depending on the question effect
for column in df:
    r = int(column)%10
    if r == 7 or r == 8 or r == 9 or r == 0:
        df[column] = df[column]*(-1)

## Sum points of each question

In [8]:
sumOverAll = np.nan
sumOverAll = df.sum(axis = 0)
#sumOverAll

In [ ]:
final = np.empty([1,9], dtype=int)

for i in range(9):
    final[0,i] = sumOverAll[i*12:(i*12)+12].sum(axis=0)

In [10]:
finalTable = pd.DataFrame(final, columns=['1', '2', '3', '4', '5', '6', '7', '8', '9'])
finalTable

     1   2    3    4    5    6    7    8    9
0  113  72  191  161  164  147  181  180  153

In [62]:
df

,11,12,13,14,15,16,17,18,19,110,...,93,94,95,96,97,98,99,910,911,912
0,2,4,2,2,5,4,2,2,3,2,...,4,4,5,4,2,2,2,2,5,4
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,4,3,4,4,4,4,3,2,3,1,...,4,4,3,4,3,2,3,3,2,1
3,1,1,1,1,2,2,3,2,3,4,...,3,2,2,2,3,2,3,1,1,1
4,4,1,1,2,4,4,2,2,3,4,...,3,4,2,3,2,1,2,1,3,3
5,4,5,4,3,4,4,2,3,3,2,...,4,4,3,2,3,2,2,4,3,2
6,2,3,2,2,4,3,4,2,4,2,...,3,4,5,4,3,1,4,1,3,1
7,4,4,4,4,2,2,3,4,3,3,...,2,3,3,3,2,2,2,2,5,1
8,2,2,2,3,4,4,4,2,4,2,...,2,3,4,4,3,2,3,2,3,1
9,4,4,4,4,3,4,3,2,2,2,...,3,2,4,4,3,3,3,2,2,2
10,4,2,1,4,2,2,4,4,4,3,...,3,4,4,3,2,2,2,2,4,3

In [60]:
qs = np.empty([1,len(df.columns)], dtype=int)

for i in range(len(df.columns)):
    qs[:,i] = df.iloc[:,i].sum()

In [63]:
qs[:, 0:]

array([[32, 30, 26, 30, 35, 34, 31, 26, 33, 26, 26, 16, 31, 21, 22, 30,
        31, 29, 34, 32, 37, 26, 21, 16, 33, 36, 34, 38, 42, 39, 26, 22,
        29, 23, 38, 31, 40, 39, 35, 41, 32, 29, 27, 24, 26, 24, 24, 22,
        38, 38, 31, 42, 32, 36, 25, 25, 28, 24, 27, 22, 38, 37, 34, 39,
        30, 28, 29, 30, 25, 23, 26, 22, 36, 31, 34, 34, 43, 40, 26, 19,
        28, 21, 32, 25, 36, 30, 36, 35, 41, 38, 25, 20, 28, 22, 31, 28,
        33, 26, 32, 35, 36, 34, 27, 20, 27, 21, 32, 20]])